<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th=" http://www.thymeleaf.org">
<head>
    <title>Snapshot by TEMPLATED</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/assets/css/grid.css"  th:href="@{/assets/css/grid.css}"/>


</head>
<body>
<div class="page-wrap">

    <nav id="nav">
        <ul>
            <li><a th:href="@{/webpage}"><span class="icon fa-home"></span></a></li>
            <li><a th:href="@{/images}"><span class="icon fa-camera-retro"></span></a></li>
            <li><a th:href="@{/uploadFile}"><span class="icon fa-upload"></span></a></li>
        </ul>
    </nav>
    <section id="main">
        <section id="banner"   style="background-color:  #2a4959 ">
            <div class="inner">
                <h1>Gallery</h1>
            </div>
        </section>

        <section id="galleries">
            <div class="gallery">
                <form id="delete" th:action="@{/deleteFile}" method="get" >
                <div class="content">

                    <div class="media" th:each="Image : ${imageList}">
                        <a th:href="${Image.S3link}"><img th:src="${Image.thumbnail}" src="https://s3-us-west-2.amazonaws.com/my-amazing-spring-bucket/thumbnail_1526673301285-samoens-21.jpg" alt="" /></a>
                        <button class="btn" th:value = "${Image.id}" name="id" onclick="javascript:getUniqueButtonValue($(this).val()); ">Delete</button>
                    </div>

                </div>
                </form>
            </div>
        </section>
    </section>

</div>


<!-- Scripts -->
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>