<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/assets/css/coolUpload.css" th:href="@{/assets/css/coolUpload.css}" />

    <title>Title</title>
</head>
<body>

    <nav id="nav">
        <ul>
            <li><a th:href="@{/webpage}"><span class="icon fa-home"></span></a></li>
            <li><a th:href="@{/images}"><span class="icon fa-camera-retro"></span></a></li>
            <li><a th:href="@{/uploadFile}"><span class="icon fa-upload"></span></a></li>
        </ul>
    </nav>


<form method="POST", enctype="multipart/form-data" action="/upload" >
    <div class="wrapper">
        <a class="no-image" id="img-result">  <input type="file" name="file" accept="image/*" onchange="loadFile(event)" multiple>  </a>
    </div>

    <button class="show-button" type="submit" >Upload</button>
</form>



<script>

    var loadFile = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('img-result');
            output.classList.remove('no-image');
            output.style.backgroundImage = 'url(' + reader.result + ')';
            document.querySelector('.show-button').style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>


</body>
</html>