<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<img th:src="${#httpServletRequest.getParameter('picUrl')}"/>-->
<div>
    <form method="POST", enctype="multipart/form-data" action="/upload">
        <table>
            <tr><td>File To Upload:</td>
            <td><input type="file" name="file"/></td></tr>
            <tr>
            <td>Name:</td><td><input type="text" id="name" name="name"/></td></tr>
            <tr><td></td><td><input type="submit" value="Upload"/></td></tr>
        </table>
    </form>
</div>
</body>
</html>